# Dependencies
node_modules/

# Build outputs
.next/
out/

# Debug & logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Testing
.lighthouseci/
